*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.app
.vs
.vscode
.idea/

build/
cmake-build-*/
out/
.cache/
bin/Cemu_*
bin/Cemu_*.exe

# Nintendo Switch build outputs
/build_switch*/
/build-switch*/
/work/
/bin/Cemu.nro
/bin/*.ini
/switch_launcher/build/
/switch_launcher/Cemu.elf
/switch_launcher/Cemu.map
/switch_launcher/Cemu.nacp
/switch_launcher/Cemu.nro
/switch_launcher/fwd/hbl.elf
/switch_launcher/romfs/emu/
/switch_launcher/romfs/fwd/
/dependencies/switch_deps/
/dependencies/switch_mesa_vulkan/
/dependencies/switch_mesa_sdk_*/

# Local tool checkouts superseded by switch_launcher/fwd
/dependencies/hacbrewpack/
/dependencies/nro-forwarder/

# Cemu bin files
bin/otp.bin
bin/seeprom.bin
bin/log.txt
bin/Cemu_*.pdb
bin/Cemu_*.ilk
bin/Cemu.exe.backup
bin/mlc01/*
bin/settings.xml
bin/network_services.xml
bin/title_list_cache.xml
bin/debugger/*
bin/sdcard/*
bin/screenshots/*
bin/dump/*
bin/cafeLibs/*
bin/portable/*
bin/keys.txt

!bin/shaderCache/info.txt
bin/shaderCache/*

bin/controllerProfiles/*

!bin/gameProfiles/default/*
bin/gameProfiles/*

bin/graphicPacks/*

# Ignore Finder view option files created by OS X
.DS_Store
